/* 
    * Variables
    */


:root {
    --background-color: rgb(25, 25, 25);
    --background-color-transparent: rgba(25, 25, 25, 0.8);
    --background-color-invert: rgb(245, 245, 245);

    --accent-color: rgb(80, 15, 35); 
    --accent-color-invert: rgb(225, 220, 210);

    --modal-color: rgb(245, 245, 245);
    --modal-color-border: rgb(215, 215, 215);
    --modal-color-invert: rgb(25, 25, 25);
    
    --button-color: var(--accent-color);
    --button-color-active: rgb(50, 15, 25);
    --button-color-border: rgb(32, 10, 15);
    --button-color-invert: var(--accent-color-invert);
    --button-color-transparent: rgba(80, 15, 35, 0.8);
}


/*
    * Layout
    */


html,
body {
    font-family: 'Calibri', Helvetica, sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw
}

main {
    flex: 1;
}

.app-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}


/* 
    * Header Levels 
    */


h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}


/*
    * Buttons
    */


button {
    background-color: var(--button-color);
    color: var(--button-color-invert);
    border: 0.2rem solid var(--button-color-border);
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
}

button:hover,
button:focus,
button:active {
    background-color: var(--button-color-active);
}


/*
    * Remove Google Maps Branding
    */


a[href^="http://maps.google.com/maps"] {
    display:none !important
}
a[href^="https://maps.google.com/maps"] {
    display:none !important
}

.gmnoprint button {
    background: var(--button-color-transparent) !important;
    border-radius: 0;
}

.gmnoprint a, 
.gmnoprint span, 
.gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
