/*
    * Header
    */


.header {
    background-color: var(--background-color);
    color: var(--background-color-invert);
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.header-title {
    font-weight: bold;
}


/*
    * Map
    */


.map-wrapper {
    position: relative;
    overflow: hidden;
}

.map {
    height: 100%;
    width: 100%;
}

.map-wrapper.hide .map-popover-wrapper {
    display: none;
}

.map-wrapper .map-popover-wrapper {
    background-color: var(--background-color-transparent);
    color: var(--background-color-invert);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map-popover {
    width: 80%;
    opacity: 1;
    margin-bottom: 12rem;
}

.map-popover__description {
    margin-bottom: 2rem;
}

.map-popover > *:not(.map-popover__description) {
    text-align: center;
    margin-bottom: 1rem;
}

.map-popover__play-button {
    font-size: 1.75rem;
}


/* 
    * Status Bar
    */


.status-wrapper {
    display: none;
}

.map-wrapper.hide .status-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.status {
    background-color: var(--accent-color);
    color: var(--accent-color-invert);
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0.75rem 1rem;
}

.status-modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.status-modal-wrapper.hide {
    display: none;
}

.status-modal {
    background-color: var(--modal-color);
    color: var(--modal-color-invert);
    border: 0.2rem solid var(--modal-color-border);
    border-radius: 0.75rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75%;
    max-width: 25rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.status-modal-progress {
    margin-bottom: 1rem;
}

.status-modal-time {
    margin-bottom: 2rem;
}

.status-modal-time {
    font-size: 1.5rem;
}
