/*
    * Header
    */
.header {
    background-color: var(--background-color);
    color: var(--background-color-invert);
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.header-title {
    font-weight: bold;
}


.map {
    height: 100%;
    width: 100%;
}